/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F5FC;
  height: 100vh;
}

.btn {
  border-radius: 24px;
  padding: 12px 24px;
  height: fit-content;
}

textarea {
  border: none;
}

.pl {
  padding-left: 5rem;
}

.main {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}
/* section left*/
.section-left {
  align-content: space-between;
  display: flex;
  flex: 2;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
}
.text {
  flex: 1;
}
.text .textarea {
  background-color: #F3F5FC;
  border: none;
}
.text .textarea:active {
  border: none;
}

.buttons {
  padding-bottom: 38px;
}
@media screen and (max-width: 594px) {
  .buttons {
    display: flex;
    justify-content: center;
  }
}
.buttons .btn-encrypt {
  background-color: #0A3871;
  color: #ffffff;
}
.buttons .btn-decrypt {
  background-color: #F3F5FC;
  color: #0A3871;
}

/* section right */
.section-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  height: 100%;
  padding-top: 30px;
  width: 100vw;
}

.container-right {
  background-color: #ffffff;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  height: 95%;
}
@media screen and (max-width: 594px) {
  .container-right {
    width: 327px;
  }
}

.text-change {
  text-align: center;
  flex: 2;
  display: none;
}
.text-change .text-resul {
  padding-bottom: 50px;
}

.right-header {
  text-align: center;
  position: relative;
  padding-top: 283px;
}
@media screen and (max-width: 594px) {
  .right-header {
    display: none;
  }
}
.right-header .message-img {
  width: 100%;
  height: auto;
}

.right-footer {
  text-align: center;
}
.right-footer h2 {
  padding-bottom: 1rem;
}
.right-footer h3 {
  padding-bottom: 1rem;
}

.btn-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn-container .btn-copy {
  background-color: #ffffff;
  display: none;
  margin-top: 62px;
}

/*# sourceMappingURL=style.css.map */
