@import "reset";
@import "variables";


body {
  background-color: $light-blue-500;
  height: 100vh;
  overflow-x: hidden;
}

// general
.btn {
  border-radius: 24px;
  padding: 6px 24px;
  width: 328px;
  height: fit-content;
}

textarea {
  border: none;
}

section {
  position: relative;
}

// main
.main {
  height: 100%;
}
// container
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

/* section left*/
.section-left{
  flex: 1;
  flex-direction: column;
  border: 1px solid black;
}

.brand{
  flex: 1;
  width: max-content;
  padding: 40px 0px 0px 84px;
  .logo{}
}

.text {
  // width: max-content;
  flex: 1;
  padding-left: 150px;
  padding-top: 30px;
  
  
  // padding: 168px 0px 0px 240px;
  .textarea {
    border: none ;
    padding: 0px 0px 0px 50px;
    justify-self: center;
    width: 680px;
    height: 48px;
  }
}

.buttons {
  flex: 1;
  padding-left: 150px;
  .btn-encrypt{
    background-color: $dark-blue-300;
    color: $white;
  }
  .btn-decrypt {
    background-color: $light-blue-500;
    color: $dark-blue-300;
  }
}


/* section right */
.section-right {
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.container-right {
  background-color: $white;
  border-radius: 34px;
}

.text-change {
  text-align: center;
  flex: 2;
  display: none;
  .text-resul {  
    padding-bottom: 50px;
  }
}

.right-header {
  text-align: center;
  position: relative;
  .message-img {
    width: 100%;
    height: auto;
  }
  
}

.right-footer {
  text-align: center;
  h2 {
    padding-bottom: 1rem;
  }
  h3 {
    padding-bottom: 1rem;
  }
}

.btn-container {
  flex: 1;
  display: flex;
  justify-content: center;
  
  .btn-copy {
    align-self: flex-start;
    background-color: $white;
    display: none;
    margin-top: 62px;
  }
}



