@import "reset";
@import "variables";
@import "responsive";


body {
  background-color: $light-blue-500;
  height: 100vh;
  
 
}

// general
.btn {
  border-radius: 24px;
  padding: 12px 24px;
  height: fit-content;
}

textarea {
  border: none;
}

.pl {
  padding-left: 5rem;
}

// main
.main {
  height: 100%;
}
// container
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  @include screen( mobile ) {
    
  }
}

/* section left*/
.section-left{
  align-content: space-between;
  display: flex;
  flex: 2;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;

  @include screen( tablet ) {
    

  }

}

.brand{
 
  .logo{}
}

.text {
  flex: 1;
  .textarea {
    background-color: $light-blue-500;
    border: none ;
  }
  .textarea:active {
    border: none;
  }
}

.buttons {
  padding-bottom: 38px;
  @include screen( mobile ) {
    display: flex;
    justify-content: center;
  }
 
  .btn-encrypt{
    background-color: $dark-blue-300;
    color: $white;
  }
  .btn-decrypt {
    background-color: $light-blue-500;
    color: $dark-blue-300;
  }
}


/* section right */
.section-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  height: 100%;
  padding-top: 30px;
  width: 100vw;
  
}

.container-right {
  background-color: $white;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  height: 95%;
  @include screen( mobile ) {
    width: 327px;
  }
  
}

.text-change {
  text-align: center;
  flex: 2;
  display: none;
  .text-resul {  
    padding-bottom: 50px;
  }
}

.right-header {
  text-align: center;
  position: relative;
  padding-top: 283px;
  @include screen(mobile) {
    display: none;
  }
  .message-img {
    width: 100%;
    height: auto;
  } 
}


.right-footer {
  text-align: center;
  
  h2 {
    padding-bottom: 1rem;
  }
  h3 {
    padding-bottom: 1rem;
  }
}

.btn-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .btn-copy {
    // align-self: flex-start;
    background-color: $white;
    display: none;
    margin-top: 62px;
  }
}



