@import "../variables";
// components
@import "../components/btn";

.right {
  background-color: $white;
  display: flex;
  flex-direction: column;

}

.right_header {
  text-align: center;
  flex: 1;
  display: none;
  .right_header_text {}
}

.right_info {
  flex: 1;
  text-align: center;
  .right_info_img {}
}

.right_footer {
  // display: flex;
  display: none;
  padding: 1rem 0;
  // flex: 1;
  border: 1px solid black;
  .right_buttons {


  }
}