.btn {
  border-radius: 24px;
  text-transform: uppercase;
  color: $white;
  padding: 6px 12px;
}

.buttons {
  
}


.btn-encrypt {
  background-color: $dark-blue-300;
  border: 1px solid $dark-blue-300;

}
.btn-decrypt {
  background-color: $dark-blue-100;
  border: 1px solid $dark-blue-300;
}

.btn-copy {
  background-color: $white;
  color: $dark-blue-300;
  margin-bottom: 1rem;
  width: 100%;
  display: none;
}
